flows.json
[
    {
        "id": "d3e01665bbf346bd",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "31c2d9a671400c6a",
        "type": "inject",
        "z": "d3e01665bbf346bd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "964b29997f0ce013"
            ]
        ]
    },
    {
        "id": "30802ac5546b1924",
        "type": "switch",
        "z": "d3e01665bbf346bd",
        "name": "",
        "property": "isPerson",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 200,
        "wires": [
            [
                "a4cfe587ceaebfe2"
            ],
            [
                "c78b42d3efda2a2f"
            ]
        ]
    },
    {
        "id": "ce2a1678d592882e",
        "type": "tfjs-tutorial-node",
        "z": "d3e01665bbf346bd",
        "name": "tfjs tutorial node",
        "modelUrl": "https://tfhub.dev/tensorflow/tfjs-model/ssdlite_mobilenet_v2/1/default/1",
        "fromHub": true,
        "x": 520,
        "y": 80,
        "wires": [
            [
                "4cab164b42e6e866",
                "30802ac5546b1924",
                "e3fc7eb94e254224"
            ]
        ]
    },
    {
        "id": "e3fc7eb94e254224",
        "type": "debug",
        "z": "d3e01665bbf346bd",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 60,
        "wires": []
    },
    {
        "id": "c78b42d3efda2a2f",
        "type": "debug",
        "z": "d3e01665bbf346bd",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "isPerson",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 320,
        "wires": []
    },
    {
        "id": "964b29997f0ce013",
        "type": "http request",
        "z": "d3e01665bbf346bd",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "body",
        "url": "https://media.istockphoto.com/id/1072769156/photo/european-short-haired-cat.jpg?s=612x612&w=0&k=20&c=jFTNcW-PTiKMkMqpIPbun3CcuzvydWCfqJEKaWKkY1M=",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 60,
        "wires": [
            [
                "61e7500a527e6c78",
                "ce2a1678d592882e"
            ]
        ]
    },
    {
        "id": "61e7500a527e6c78",
        "type": "image",
        "z": "d3e01665bbf346bd",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 260,
        "y": 380,
        "wires": []
    },
    {
        "id": "4cab164b42e6e866",
        "type": "annotate-image",
        "z": "d3e01665bbf346bd",
        "name": "",
        "fill": "",
        "stroke": "#ffC000",
        "lineWidth": 5,
        "fontSize": 24,
        "fontColor": "#ffC000",
        "x": 480,
        "y": 260,
        "wires": [
            [
                "50d30cef4cca135f"
            ]
        ]
    },
    {
        "id": "50d30cef4cca135f",
        "type": "image",
        "z": "d3e01665bbf346bd",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 600,
        "y": 360,
        "wires": []
    },
    {
        "id": "a4cfe587ceaebfe2",
        "type": "play-soundfile",
        "z": "d3e01665bbf346bd",
        "name": "Dog Sound",
        "directory": "55d5b2646b7bad06",
        "file": "Z5QVAKY-dog.mp3",
        "allow_multiple": false,
        "x": 830,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "89ce0e834a4a3e71",
        "type": "fileinject",
        "z": "d3e01665bbf346bd",
        "name": "s",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "ce2a1678d592882e",
                "61e7500a527e6c78"
            ]
        ]
    },
    {
        "id": "55d5b2646b7bad06",
        "type": "soundfile-directory",
        "directory": "D:"
    }
]